@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');
input{
    width:60%;
    padding:20px;
    border:1px solid rgb(184, 181, 181);
    border-radius: 10px;
}
.search_box{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#searching{
    height:max-content;
    border:none;
    margin-left: 10px;;
    padding:20px;
    background-color: rgb(33, 36, 201);
    color:white;
    font-family: "Red Hat Display";
    border-radius: 10px;
    max-height: 100%;

}
    
#searching:hover{
    background-color: white;
    color: blue;
    border: 1px solid rgb(186, 229, 255);
    transform: scale(1.05);
    transition:1s ease-in-out;
    box-shadow: 3px 3px 5px #888888;
}